
body{
  background: linear-gradient(to left, white, blue);
  text-align: center;
  font-family: sans-serif;
  overflow-x: hidden;
  background-color: red;
  width: 100%;
  margin: 0;
  }
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(grey, white, blue);
  z-index: 1;
  }
li {
  display: inline;
  vertical-align: middle;
  }